{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70">
                                <h2>Actualités</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ path('home_index') }}">Accueil</a></li>
                                        <li class="breadcrumb-item"><a href="{{ path('actualites') }}">Actualités</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Blog Area Start -->
        <section class="blog_area single-post-area section-padding pl-10 pr-10">
            <div class="container navigation-top">
                <div class="row">
                    <div class="posts-list">
                        <div class="single-post">
                            <div class="blog_details">
                                <h2 style="color: #2d2d2d;">Second divided from form fish beast made every of seas
                                    all gathered us saying he our
                                </h2>
                                <ul class="blog-info-link mt-3 mb-4">
                                    <li><a href="#"><i class="fa fa-calendar-alt"></i> Travel, Lifestyle</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                                <div class="quote-wrapper">
                                    <div class="quotes">
                                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                                        should have to spend money on boot camp when you can get the MCSE study materials yourself at
                                        a fraction of the camp price. However, who has the willpower to actually sit through a
                                        self-imposed MCSE training.
                                    </div>
                                </div>
                                <ul class="mt-3 mb-4">
                                    <li><a class="fa-2x" href="#"><i class="far fa-envelope-open "></i> Contactez-nous</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Blog Area End -->
    </main>
{% endblock %}