<h1>Nouvel email</h1>
<h3>Nom</h3>
<p>{{ contact.name }}</p><br>
<h3>E-mail</h3>
<p>{{ contact.email }}</p><br>
<h3>Sujet</h3>
<p>{{ contact.subject }}</p><br>
<h3>Message</h3>
<p>{{ contact.message }}</p>